.wrapper {
    background-color: rgb(49, 51, 56);
    width: 100%;
    height: 100vh;
    overflow: auto;
    .container {
        color: white;
        margin: 40px;
        width: 78%;
        .slash {
            height: 2px;
            width: 600px;
            background-color: rgb(55, 58, 63);
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}
