.header {
    height: 50px;
    width: 100%;
    border-bottom: 0.1px solid black;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    // :hover {
    //     background-color: lighten($color: rgb(47, 49, 54), $amount: 5);
    // }
    .server-name {
        display: flex;
        font-size: 18px;
        align-items: center;
    }
    .icon {
        margin: 12px;
    }
    .option {
        display: flex;
        align-items: center;
    }
}
