.chat-arena {
    position: relative;
    height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
    display: flex;
    .message-container {
        position: relative;
        height: 100%;
        width: 75%;
        .message-box {
            position: relative;
            height: 90%;
            width: 100%;
            color: rgb(220, 221, 222);
            overflow: auto;
            // chat item
            background-color: rgb(49, 51, 56);
            .chat {
                padding: 10px 20px;
                display: flex;
                .content {
                    margin-left: 15px;
                    .user {
                        display: flex;
                        .user-name {
                            font-size: 15px;
                            margin-right: 15px;
                        }
                        .time {
                            color: rgb(163, 166, 170);
                            font-size: 13px;
                        }
                    }
                    .message {
                        font-size: 17px;
                        word-wrap: break-word;
                        width: 500px;
                    }
                }
            }
        }
        .chat-container {
            position: relative;
            width: 100%;
            height: 10%;
            background-color: rgb(49, 51, 56);

            align-items: flex-start;
            justify-content: center;
        }
        .chat-bar {
            width: 95%;
            height: 70%;
            // height: auto;
            border-radius: 10px;
            background-color: rgb(64, 68, 75);

            color: rgb(220, 221, 222);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text-box {
                position: relative;
                display: flex;
                width: 70%;
                height: auto;
            }
            .option {
                .icon {
                    font-size: 27px;
                    cursor: pointer;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(41, 51, 56);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(32, 34, 37);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgb(41, 51, 56);
}
