.header {
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    p {
        font-size: 10px;
    }
    .icon {
        cursor: pointer;
    }
}
.chooseType {
    padding-left: 20px;

    p {
        font-size: 11px;
        color: rgb(184, 185, 191);
    }
    .typeRadio {
        width: 427px;
        height: 61px;
        display: flex;
        background-color: rgb(43, 45, 49);
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        border-radius: 3px;
        h6 {
            font-size: 14px;
        }
        .icon {
            margin: 10px;
        }
        .type-info {
        }
    }
}
.submit {
    margin-top: 70px;
    background-color: rgb(43, 45, 49);
    height: 80px;
    width: 463px;
    border-radius: 5px;
    text-align: end;
    padding: 20px 0;
}
