.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    p {
        font-size: 10px;
    }
    .icon {
        cursor: pointer;
    }
}
.chooseType {
    p {
        font-size: 11px;
        color: rgb(184, 185, 191);
    }
    .typeRadio {
        width: 427px;
        height: 61px;
        display: flex;
        background-color: rgb(43, 45, 49);
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        border-radius: 3px;
        h6 {
            font-size: 14px;
        }
        .icon {
            margin: 10px;
        }
        .type-info {
        }
    }
}
