.member-list {
    color: white;
    height: 100%;
    overflow: auto;
    background-color: rgb(47, 49, 54);
    width: 25%;
    padding: 20px;
    .member-type {
        font-size: 17px;
        color: rgb(150, 152, 157);

        .user {
            font-size: 16px;
            display: flex;
            margin: 5px;
            p {
                color: rgb(150, 152, 157);
            }
        }
    }
}
